
.main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container {
    margin-top: 5rem;
    text-align: center;
  }
  #value {
      position: relative;
      top: 10rem;
      left: 14rem;
    font-size: 8rem;
    font-weight: bold;
   
  }
 .btn{
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 10px 20px;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin-top:-5rem;
    margin-right: 2rem;
 }